body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  padding: 0;
}

h1 {
  color: #172b4d;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
}

p {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #172b4d;
}

button {
  background-color: #36b37f;
  border-radius: 4px;
  border: none;
  font-weight: 500;
  font-size: 17px;
  color: #fff;
  padding: 12px;
  gap: 10px;
  letter-spacing: 0.03em;
  line-height: 24px;
}

button:hover {
  box-shadow: 0 8px 16px rgba(54, 179, 127, 0.24);
}

button:active {
  background: #008552;
}

ul {
  padding-inline-start: 0;
}

textarea {
  background: #fff;
  border: 1px solid #60c095;
  border-radius: 4px;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  -webkit-text-fill-color: #091e42;
  padding: 12px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  resize: none;
  width: 93%;
  height: 114px;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
}

footer .contact {
  list-style: none;
  display: flex;
}

footer .contact-desktop {
  display: none;
}

.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin: 0 24px 0 24px;
}

.desktop-toolbar {
  display: none;
}

.header-nav-mobile.hidden {
  display: none;
}

.hidden {
  display: none;
}

.header-nav-mobile {
  display: flex;
  flex-direction: column;
  gap: 40px;
  background-color: #fff;
  height: 100vh;
}

.header-nav-mobile li {
  list-style: none;
  margin-left: 28px;
  margin-bottom: 40px;
}

.header-nav-mobile li a,
.header-nav-mobile li a:visited {
  text-decoration: none;
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
  color: #3a4a42;
}

.header-nav-mobile .btn-close-nav {
  align-self: flex-end;
  margin-top: 40px;
  margin-right: 28px;
}

.logo-placeholder {
  text-decoration: none;
  font-size: 20px;
  color: #28352f;
}

.logo-placeholder h3 {
  margin-top: 30px;
  margin-bottom: 0;
}

.toolbar .menu {
  margin-top: 30px;
}

header {
  background-image: url("../../assets/img/background-image-mobile.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position-y: 40px;
}

.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.flex-container h1 {
  margin: 56px 45px 32px 45px;
}

.flex-container span {
  color: #36b37f;
}

.flex-container p {
  margin: 0 24px 34px 24px;
}

.flex-container .contact {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
  margin: 0 0 40px 0;
}

.flex-container .contact-desktop {
  display: none;
}

.flex-container button {
  background: none;
  margin-bottom: 22px;
}

.works {
  display: grid;
  justify-content: center;
  margin-bottom: 7px;
  grid-row-gap: 24px;
}

.work-title {
  text-align: center;
  margin-bottom: 24px;
  margin-left: 60px;
  margin-right: 60px;
}

.indicator {
  text-align: center;
  margin-bottom: 62px;
}

.card-works {
  display: flex;
  flex-direction: column;
  width: 327px;
  border: 1px solid #d0d9d4;
  background: #ebf0ee;
  border-radius: 8px;
}

.card-image {
  height: 252px;
}

.card-background {
  background-color: #fff;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}

.card-background .card-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #3a4a42;
  border-radius: 8px;
  text-align: center;
  background: #fff;
}

.card-tags {
  display: flex;
  flex-direction: row;
  padding: 0;
  gap: 8px;
  list-style: none;
  margin: auto;
  background: #fff;
}

.card-tags li {
  padding: 0.5em;
  background: #ebf0ee;
  border-radius: 4px;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #3a4a42;
}

.card-background .button-project {
  margin: 29px 103px 24px 103px;
}

.card-work-mobile {
  display: flex;
  flex-direction: column;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  padding: 16px;
  gap: 12px;
  position: fixed;
  margin: 10px;
  box-sizing: border-box;
  overflow-y: scroll;
  top: 0;
  bottom: 0;
  width: 350px;
  left: 50%;
  transform: translate(-50%);
}

.card-work-mobile .close-detail-mobile {
  position: absolute;
  right: 37px;
  top: 37px;
}

.card-work-mobile .card-name-mobile {
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
}

.card-work-mobile .card-tags {
  margin-left: 0;
}

.card-work-mobile .card-button-mobile {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-work-mobile .livebtn-mobile,
.card-work-mobile .sourcebtn-mobile {
  align-items: center;
  text-align: center;
  background-color: #36b37f;
  border-radius: 4px;
  border: none;
  font-weight: 500;
  font-size: 17px;
  color: #fff;
  padding: 12px;
  gap: 10px;
  letter-spacing: 0.03em;
  line-height: 24px;
  text-decoration: none;
}

.about-me-background {
  width: 100%;
  background-image: url("../../assets/img/aboutme-bottomleft.svg");
  background-position: bottom left;
  background-repeat: no-repeat;
  border-top: 20px;
}

.about-me-container {
  display: grid;
  grid: 'h1 .topright';
  grid-template-columns: 20% 60% 20%;
}

.about-me-container h1 {
  grid-column-start: 2;
  text-align: center;
  margin-bottom: 60px;
}

.about-me-container .topright {
  position: relative;
  justify-self: end;
}

.about-me-container .topright-desktop {
  display: none;
}

.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-bottom: 40px;
}

.about-container p {
  margin: 0 24px 36px 24px;
}

.categorie-about-myself {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 60px;
}

.categorie-about-myself .categorie-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #344563;
}

.card-categories {
  width: 327px;
  height: 352px;
  border: 1px solid #c1c7d0;
  background: #ebf0ee;
  border-radius: 8px;
  margin-bottom: 24px;
}

.categorie-image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.categorie-tags {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}

.categorie-tags li {
  font-weight: 600;
  background: white;
  color: #36b37e;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 1px;
  padding: 12px;
  border-radius: 8px;
  margin: auto;
  margin-bottom: 8px;
  text-align: center;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  flex-wrap: wrap;
  margin-left: 24px;
  margin-right: 24px;
  margin-bottom: 225px;
}

.form .form-text {
  margin-bottom: 58px;
}

.input-full-name {
  display: none;
}

.form .input-name {
  display: flex;
  background: #fff;
  border: 1px solid #d0d9d4;
  border-radius: 4px;
  margin-bottom: 24px;
}

.input-name .full-name {
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #6b778c;
  border: 0;
  justify-content: center;
  align-items: center;
  padding: 12px;
}

.form .input-email {
  display: flex;
  background: #fff;
  border: 1px solid #d0d9d4;
  border-radius: 4px;
  margin-bottom: 24px;
}

.input-email .email {
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
  color: #6b778c;
  border: 0;
  justify-content: center;
  align-items: center;
  padding: 12px;
}

.form .submit-button {
  margin-top: 24px;
}

@media only screen and (min-width: 768px) {
  header {
    background-image: url("../../assets/img/background-image-desktop.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .card-work-mobile {
    display: none;
  }

  .card-work-desktop {
    display: flex;
    flex-direction: column;
    background: #fff;
    border: 1px solid #dfe1e6;
    border-radius: 16px;
    padding: 16px;
    gap: 12px;
    position: fixed;
    margin: 10px;
    box-sizing: border-box;
    overflow-y: scroll;
    top: 0;
    bottom: 0;
    width: 920px;
    left: 50%;
    transform: translate(-50%);
  }

  .card-work-desktop .close-detail-desktop {
    position: absolute;
    right: 24px;
    top: 22px;
  }

  .card-image-details-desktop {
    padding-top: 40px;
  }

  .popup-title-desktop {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .card-work-desktop .card-name-desktop {
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 44px;
    color: #172b4d;
  }

  .card-work-desktop .card-tags {
    margin-left: 0;
  }

  .card-work-desktop .card-button-desktop {
    display: flex;
  }

  .card-button-desktop .btn-container {
    display: flex;
    width: 150px;
    justify-content: space-between;
    align-items: center;
  }

  .card-work-desktop .livebtn-desktop,
  .card-work-desktop .sourcebtn-desktop {
    align-items: center;
    text-align: center;
    background-color: #36b37f;
    border-radius: 4px;
    border: none;
    font-weight: 500;
    font-size: 17px;
    color: #fff;
    padding: 12px;
    gap: 10px;
    letter-spacing: 0.03em;
    line-height: 24px;
    text-decoration: none;
  }

  footer {
    margin-top: 26px;
  }

  footer p {
    display: none;
  }

  footer .contact {
    display: none;
  }

  footer .contact-desktop {
    list-style: none;
    display: flex;
  }

  .menu {
    display: none;
  }

  .logo-placeholder {
    display: none;
  }

  .desktop-toolbar {
    display: flex;
    margin-bottom: 100px;
  }

  .desktop-toolbar__li {
    display: flex;
    padding: 20px;
  }

  .desktop-toolbar a:link {
    color: #344563;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    text-decoration: none;
  }

  .desktop-toolbar a:hover {
    color: #344563;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    text-decoration: none;
  }

  .desktop-toolbar a:visited {
    color: #344563;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    text-decoration: none;
  }

  .flex-container h1 {
    margin: 0 160px 24px 160px;
  }

  .flex-container p {
    margin: 0 180px 34px 180px;
  }

  .flex-container .contact {
    display: none;
  }

  .flex-container .contact-desktop {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    margin: 0 0 495px 0;
  }

  .works {
    grid-template-columns: 327px 327px;
    grid-gap: 24px;
    width: 100%;
    margin-bottom: 192px;
  }

  .about-me-container .topright {
    display: none;
  }

  .about-me-container .topright-desktop {
    display: block;
    justify-self: end;
    position: relative;
    top: -100px;
    width: 85%;
    height: 85%;
  }

  .about-me-background {
    background-image: url("../../assets/img/aboutme-bottomleft-desktop.svg");
    background-position: center left;
    background-repeat: no-repeat;
    background-size: 15%;
  }

  .about-container p {
    margin: 0 140px 36px 140px;
  }

  .categorie-about-myself {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 160px;
  }

  .card-categories {
    width: 369px;
    height: 352px;
    margin-left: 8px;
    margin-right: 8px;
  }

  .form {
    background: url("../../assets/img/img-footer-1.svg") no-repeat 0% 95%, url("../../assets/img/img-footer-2.svg") no-repeat 20% 85%, url("../../assets/img/img-footer-3.svg") no-repeat 100% 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 0;
    padding-bottom: 220px;
  }

  .form .form-text {
    margin: 0 24px 190px 24px;
    font-size: 25px;
  }

  .form .form-input {
    display: flex;
    flex-direction: column;
    margin-right: 24px;
  }

  .form .input-name {
    display: none;
  }

  .form .input-full-name {
    display: flex;
    flex-direction: row;
    background: #fff;
    border-radius: 4px;
    margin-bottom: 24px;
  }

  .input-full-name .first-name {
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #6b778c;
    justify-content: center;
    align-items: center;
    padding: 12px;
    margin: 0 12px 0 0;
    border: 1px solid #d0d9d4;
  }

  .input-full-name .last-name {
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #6b778c;
    border: 1px solid #d0d9d4;
    justify-content: center;
    align-items: center;
    padding: 12px;
    margin: 0 0 0 12px;
  }

  .form .submit-button {
    display: flex;
    align-self: flex-start;
  }

  .about-me-container {
    margin-top: 36px;
    max-height: 100px;
  }

  .about-me-container h1 {
    margin: 0;
  }
}

@media only screen and (min-width: 992px) {
  .about-container p {
    margin: 0 220px 36px 220px;
  }

  .form .form-text {
    font-size: 30px;
    margin-left: 80px;
    margin-bottom: 150px;
  }

  .form .form-input {
    display: flex;
    flex-direction: column;
    margin-right: 90px;
  }

  .desktop-toolbar {
    margin-bottom: 176px;
  }

  .flex-container p {
    margin: 0 280px 34px 280px;
  }

  .about-me-background {
    background-image: url("../../assets/img/aboutme-bottomleft-desktop.svg");
    background-position: center left;
    background-repeat: no-repeat;
  }

  .about-me-container .topright-desktop {
    display: block;
    justify-self: end;
    position: relative;
    top: -100px;
  }
}

@media only screen and (min-width: 1200px) {
  textarea {
    width: 658px;
  }

  .works {
    grid-template-columns: 369px 369px 369px;
    grid-gap: 24px;
    width: 100%;
  }

  .about-container p {
    margin: 0 280px 36px 280px;
  }

  .form .form-text {
    margin-left: 110px;
  }

  .form .form-input {
    display: flex;
    flex-direction: column;
    margin-right: 135px;
  }

  .input-full-name .first-name {
    width: 100%;
  }

  .input-full-name .last-name {
    width: 100%;
  }
}
